.navBarButton {
  background-color: rgb(123, 180, 75);
  color: white;
  border: none;
  font-weight: bold;
}

.headerDiv {
  font-family: 'Damion', cursive;
  color: rgb(123, 180, 75);
  font-weight: bold;
  font-size: 90px;
}

.headerText {
  font-family: 'Damion', cursive;
  color: rgb(123, 180, 75);
  font-weight: bold;
  font-size: 50px;
}

.headerDiv:hover {
  color: rgb(52, 87, 24);
  text-decoration: none;
}

.socialLinks {
  position: absolute;
  left: 0;
  bottom: 0;
}

.socialButton {
  color: rgb(32, 71, 0);
}
