.navBarButton {
  background-color: rgb(123, 180, 75);
  color: white;
  border: none;
  font-weight: bold;
}

.headerText {
  margin-top: 20px;
  font-family: 'Jua', sans-serif;
  color: rgb(58, 58, 58);
}

.headerText:hover {
  color: rgb(123, 180, 75);
  text-decoration: none;
}

.socialLinks {
  position: absolute;
  left: 0;
  bottom: 0;
}

.socialButton {
  color: rgb(32, 71, 0);
}
