.headerText {
  font-family: 'Jua', sans-serif;
  color: white;
}

.headerText:hover {
  color: rgb(5, 221, 210);
  text-decoration: none;
}

.socialLinks {
  position: absolute;
  left: 0;
  bottom: 0;
}
